{% extends "base.html" %}

{% block content %}
<div class="gamepage-header">
    <h1>{{ gameData.Name }}</h1>
    
</div><br>
<div class="gamepage-subheader"><a href="/cart/{{ gameData.GameID }}/game" class="gamepage-cart-button">Add To Cart</a></div>
<table class="gamepage-table">
    <tr>
        <td class="gamepage-table-label"><h3>Description: </h3></td>
        <td class="gamepage-table-item">{{ gameData.Description }}</td>
    </tr>
    <tr>
        <td class="gamepage-table-label"><h3>Rating: </h3></td>
        <td class="gamepage-table-item">{{ gameData.Rating }}</td>
    </tr>
    <tr>
        <td class="gamepage-table-label"><h3>Price: </h3></td>
        <td class="gamepage-table-item">{{ gameData.Price }}</td>
    </tr>
    <tr>
        <td class="gamepage-table-label"><h3>Release Date: </h3></td>
        <td class="gamepage-table-item">{{ gameData.ReleaseDate }}</td>
    </tr>
    <tr>
        <td class="gamepage-table-label"><h3>Developer: </h3></td>
        <td class="gamepage-table-item">{{ gameData.DeveloperName }}</td>
    </tr>
    <tr>
        <td class="gamepage-table-label"><h3>Publisher: </h3></td>
        <td class="gamepage-table-item">{{ gameData.PublisherName }}</td>
    </tr>
    <tr>
        <td class="gamepage-table-label"><h3>Tags: </h3></td>
        <td class="gamepage-table-item">
            {% if Tags %}
                {% for item in Tags %}
                    <div class="gamepage-tags-box">
                        <strong>{{ item }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td class="gamepage-table-label"><h3>DLC: </h3></td>
        <td class="gamepage-table-item">
            {% if DLC %}
                {% for item in DLC %}
                    <div class="gamepage-dlc-box">
                        <strong>{{ item.Name }}</strong><br>
                        Price: ${{ item.Price }}<br>
                        <a href="/cart/{{ item.DLCID }}/dlc" class="gamepage-cart-button">Add To Cart</a>
                    </div>
                {% endfor %}
            {% endif %}
        </td>
    </tr>
</table>
{% endblock %}