{% extends "base.html" %}

{% block content %}
<div class="gamepage-header">
    <h1>{{ gameData.Name }}</h1>
    
</div><br>
<div class="gamepage-subheader"><a href="/cart/{{ gameData.GameID }}/game" class="gamepage-cart-button">Add To Cart</a></div>
<table class="gamepage-table">
    <tr>
        <td class="gamepage-table-label"><h3>Description: </h3></td>
        <td class="gamepage-table-item">{{ gameData.Description }}</td>
    </tr>
    <tr>
        <td class="gamepage-table-label"><h3>Rating: </h3></td>
        <td class="gamepage-table-item">{{ gameData.Rating }}</td>
    </tr>
    <tr>
        <td class="gamepage-table-label"><h3>Price: </h3></td>
        <td class="gamepage-table-item">{{ gameData.Price }}</td>
    </tr>
    <tr>
        <td class="gamepage-table-label"><h3>Release Date: </h3></td>
        <td class="gamepage-table-item">{{ gameData.ReleaseDate }}</td>
    </tr>
    <tr>
        <td class="gamepage-table-label"><h3>Developer: </h3></td>
        <td class="gamepage-table-item">{{ gameData.DeveloperName }}</td>
    </tr>
    <tr>
        <td class="gamepage-table-label"><h3>Publisher: </h3></td>
        <td class="gamepage-table-item">{{ gameData.PublisherName }}</td>
    </tr>
    <tr>
        <td class="gamepage-table-label"><h3>Tags: </h3></td>
        <td class="gamepage-table-item">
            {% if Tags %}
                {% for item in Tags %}
                    <div class="gamepage-tags-box">
                        <strong>{{ item }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td class="gamepage-table-label"><h3>DLC: </h3></td>
        <td class="gamepage-table-item">
            {% if DLC %}
                {% for item in DLC %}
                    <div class="gamepage-dlc-box">
                        <strong>{{ item.Name }}</strong><br>
                        Price: ${{ item.Price }}<br>
                        <a href="/cart/{{ item.DLCID }}/dlc" class="gamepage-cart-button">Add To Cart</a>
                    </div>
                {% endfor %}
            {% endif %}
        </td>
    </tr>
</table>
<table>
    <tr>
        <td class="gamepage-table-item">
            {%if session.username%}
            <form method="POST" action="/add_review">
                <input type="hidden" name="gameID" value="{{gameData.GameID}}">
                
                <label>Rating:</label>
                <select name="rating" required>
                    <option value=""> Select rating </option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <!-- <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option> -->
                </select>
                <br><br>

                <label>Review:</label><br>
                <textarea name="reviewText" rows="4" cols="40" required></textarea>
                <br><br>
                <button type="submit">Submit Review</button>
            </form>
            {%else%}
                Please <a href="/login">login</a> to leave a review
            {% endif %}
        </td>
    </tr>
</table>
<table>
    {% if reviews %}
        {% for item in reviews %}
            <tr>
                <td>{{ item.username }}</td>
                <td>{{ item.StarRating }}</td>
                <td>{{ item.Message }}</td>
            </tr>
        {% endfor %}
    {% endif %}
</table>
{% endblock %}