{% extends "base.html" %}

{% block content %}
<script>
  $(document).ready(function() {
    $('#TagSelect').select2();
  });
</script>

<h1>Game Catalogue</h1>

<!-- add filter bar to sort game list by tags/alphabetical/etc -->
<form method="POST" class="filter-form">
    <label for="cars">Sort By:</label>
    <select id="sort" name="sort">
        <option value="Alphabetical">Alphabetical</option>
        <option value="TopRated">Top Rated</option>
        <option value="MostRecent">Most Recent</option>
    </select>
    <label for="time">Time Range:</label>
    <select id="time" name="time">
        <option value="Today">Today</option>
        <option value="ThisWeek">This Week</option>
        <option value="ThisMonth">This Month</option>
        <option value="ThisYear">This Year</option>
        <option value="AllTime">All Time</option>
    </select>
    <label for="TagSelect">Select Tags:</label>
    <select id="TagSelect" name="TagSelect" multiple>
        {% for item in tags %}
            <option value="{{ item.TagID }}">{{ item.Name }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Apply Filters"/>
</form>

<!-- add table which displays top games -->
<table class="gamepage-table">
    {% for row in grid %}
        <tr>
            {% for cell in row %}
                <td>
                    {% if cell %}
                    <div class="game-card">
                        <a href="/game/{{ cell.GameID }}">{{ cell.Name }}</a><br>
                        Rating: {{ cell.Rating }}<br>
                        Released: {{ cell.ReleaseDate }}<br>
                        Price: {{ cell.Price }}<br>
                        <div class="tags">
                        Tags:
                        {% if cell.Tags %}
                            {% for tag in cell.Tags.split(', ') %}
                                ({{ tag }})
                            {% endfor %}
                        </div>
                    </div>
                        {% endif %}
                    {% else %}
                        <!-- empty cell -->
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>


<!-- add buttons to view next/previous page of games -->
<a href="/list?page={{ page - 1 }}" class = "pagination-btn"{% if page == 1 %}style="visibility:hidden"{% endif %}>
    Previous Page
</a>

<a href="/list?page={{ page + 1 }}"  class = "pagination-btn" {% if lastPage == True %}style="visibility:hidden"{% endif %}> 
    Next Page
</a>

{% endblock %}  