
<nav class="navbar">
    <div class= "nav-left">
        <a href = "/"> GAME HUB </a>
    </div>
    <div class="nav-center">
        <a href="/list">
            <img src="{{ url_for('static', filename='DBApp_icon/catalogue.svg')}}" alt="catalogue" height="25px">
        </a>
        <a href="/order">
            <img src="{{ url_for('static', filename='DBApp_icon/cart.svg')}}" alt="cart" >
        </a>
    <div class="nav-right">
        <input type="text" placeholder="Search games...">
        <img src="{{ url_for('static', filename='DBApp_icon/search.svg') }}" alt="search">
        <div class="authentication">
                <a href="/login">
                    <img src="{{ url_for('static', filename='DBApp_icon/user.svg') }}" alt="user">
                </a>
        </div>
        <div class="navbar-right">

        {% if session.username %}
            Welcome, {{ session.username }}
        {% else %}
            <a href="/login">Login</a>
        {% endif %}

</div>
    </div>
</nav>